<h1>Hola! Por favor confirme su Email!</h1>

<p>
   Por favor, confirme su dirección de correo electrónico haciendo clic en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi Email</a>.
    Este enlace expira en  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Suerte!
</p>
