{% extends 'base.html.twig' %}

{% block title %}Política de envío{% endblock %}

{% block body %}
	{{ include('comun/header.html.twig') }}
    <div class="container mx-auto px-4 m-8">
		<h1 class="title">Política de Envío</h1>
		<p class="last-updated">Última actualización: 01/12/2024</p>
		<div class="content">
			<h2 class="subtitle">1. Ámbito de Envío</h2>
			<p>Realizamos envíos exclusivamente dentro del territorio español, incluyendo las Islas Baleares y Canarias. Los envíos internacionales no están disponibles actualmente.</p>

			<h2 class="subtitle">2. Costos y Plazos</h2>
			<ul class="list">
				<li>
					<strong>Pedidos superiores a 50€:</strong>
					Envío gratuito.</li>
				<li>
					<strong>Pedidos inferiores a 50€:</strong>
					Costo fijo de 5€.</li>
				<li>El tiempo estimado de entrega es de 3 a 5 días hábiles desde la confirmación del pago.</li>
			</ul>

			<h2 class="subtitle">3. Retrasos y Problemas</h2>
			<p>Nova Ópticos no se responsabiliza por retrasos ocasionados por circunstancias externas (condiciones climáticas, huelgas de transporte, etc.).</p>

			<h2 class="subtitle">4. Contacto</h2>
			<p>Si tienes preguntas sobre tu envío, por favor contáctanos a través del correo electrónico
				<a href="mailto:opticanovaproyecto@gmail.com" class="link">opticanovaproyecto@gmail.com</a>.</p>
		</div>
	</div>
	{{ include('comun/footer.html.twig') }}
{% endblock %}
