@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-blue-500 text-white;
}

.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
.bold { font-weight: bold; }
.italic { font-style: italic; }