<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Nova Opticos{% endblock %}
		</title>

		<meta name="description" content="En Nova Ópticos miramos por ti. Cuidamos de tu visión ofreciéndote las mejores soluciones en gafas graduadas, gafas de sol y lentillas para garantizar siempre tu satisfacción. Nuestro objetivo es ofrecer a nuestros clientes la mejor atención en todos los sentidos: asesoramiento personalizado, servicios de revisión de la vista, y productos que se adaptan a las necesidades de todos los bolsillos gracias a nuestras ofertas y promociones.">
		<meta name="keywords" content="gafas graduadas, gafas de sol, lentillas, revisión de la vista, óptica, promociones en gafas, Nova Ópticos, cuidado visual">

		<link rel="icon" type="image/png" href="/images/logos/novaopticos-logo.png/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/images/logos/novaopticos-logo.png/favicon.svg" />
		<link rel="shortcut icon" href="/images/logos/novaopticos-logo.png/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/images/logos/novaopticos-logo.png/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="NovaOpticos" />
		<link rel="manifest" href="/images/logos/novaopticos-logo.png/site.webmanifest" />
		{% block stylesheets %}
			{{ encore_entry_link_tags('styles') }}
		{% endblock %}

		{% block javascripts %}
			<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
			{{ encore_entry_script_tags('app') }}
			<!-- Webpack Encore loading app.js -->
			{{ encore_entry_script_tags('bootstrap') }}
			<!-- Webpack Encore loading bootstrap.js -->
			{{ encore_entry_script_tags('paypal') }}
			<!-- Webpack Encore loading paypal.js -->
		{% endblock %}
	</head>
	<body>
		<div class="min-h-screen flex flex-col">
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
