{% extends 'base.html.twig' %}

{% block title %}Campanias{% endblock %}

{% block body %}
    <h1>Campanias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campania.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_campanias_index') }}">back to list</a>

    <a href="{{ path('app_campanias_edit', {'id': campania.id}) }}">edit</a>

    {{ include('campanias/_delete_form.html.twig') }}
{% endblock %}
