{% extends 'base.html.twig' %}

{% block title %}New Lentillas{% endblock %}

{% block body %}
    <h1>Create new Lentillas</h1>

    {{ include('lentillas/_form.html.twig') }}

    <a href="{{ path('app_lentillas_index') }}">back to list</a>
{% endblock %}
